node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Windsurf rules
.windsurfrules

# Others
*.pdf
*.mp4
deploy-post-receive-script.sh
api-deploy-post-receive-script.sh
frontend-deploy-post-receive-script.sh
api/storage/rector/
frontend/*.log
