{
  "bracketSameLine": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "printWidth": 220,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "svelteIndentScriptAndStyle": true,
  "svelteBracketNewLine": false,
  "tabWidth": 2,
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn", "tw"],
  "tailwindStylesheet": "./src/app.css",
  "trailingComma": "all",
  "useTabs": false
}
